---
import { footerLinks } from "../const";
import LinkText from "./LinkText.astro";

const linkTextExtraClass = "focus:text-gray-700 hover:text-gray-700";
---

<footer class="flex flex-col items-center justify-center px-8 py-10 bg-theme">
  <div class="space-y-4">
    <div>
      <h2 class="font-bold pb-2">More from Olivia</h2>
      <ul>
        {
          footerLinks.map((link) => (
            <li>
              <LinkText href={link.href} extraClass={linkTextExtraClass}>
                {link.label}
              </LinkText>
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      © {new Date().getFullYear()} Olivia Bioni Wellness LLC. All rights reserved.
    </div>
  </div>
</footer>
